html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  position: fixed;
  font-family: 'Source Code Pro', monospace;
  color: #eeeeee;
  background-color: #000000;
}

input[type='range'] {
  -webkit-appearance: none;
  background: #1d2e48;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #3d85e0;
  height: 15px;
  width: 10px;
}

input[type='range']:focus {
  outline: none;
}

#noWebGL2 {
  padding: 20px;
  color: #ff0000;
  font-size: 16px;
  font-weight: bold;
}

#renderCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  user-select: none;
}

#settingsButton {
  position: absolute;
  left: 10px;
  top: 10px;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

#settingsButton:hover {
  transform: scale(1.2);
}

#settingsButton.moved {
  left: 360px;
}

#settings {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -402px;
  width: 400px;
  transition: all 0.2s ease-in-out;
  background-color: rgba(15, 15, 15, 0.94);
  border-radius: 8px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
}

#settings.visible {
  left: 0;
}

.flex-column {
  font-size: 12px;
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row span {
  padding-left: 8px;
}

.flex-row span.label {
  width: 50%;
}

.flex-row input[type='range'] {
  width: 240px;
  height: 18px;
}

.flex-row hr {
  border-color: #696969;
  width: 100%;
}

.flex-row button {
  background: #294a7a;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-family: inherit;
}

.title-row {
  font-size: 16px;
  justify-content: center;
  padding: 10px;
  background-color: #294a7a;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content-column {
  padding: 5px;
}

#colorPicker {
  margin: 4px;
}

#btnSetDefault {
  margin-left: 3px;
}

/* custom for color picker */
.picker_done {
  display: none;
}
